.RegisterUsers
{
	margin-top: 20%;
	margin-left: 20%;
	width: 80%;
	height:100%;
	padding: 20px 40px;
	box-sizing: border-box;
    background: rgba(0,0,0,.5);
	border-radius: 2%;
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(420px/2);
	left: calc(20.9% - 70px);
}
.RegisterUsers input
{
	width: 100%;
}
.RegisterUsers input[type="text"],
.RegisterUsers input[type="email"],
.RegisterUsers input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.RegisterUsers input[type="submit"]
{
	margin-top: 2%;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #2dff26;
	cursor: pointer;
	border-radius: 20px;
}

.RegisterUsers input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}

	.cbxTypeUser
	{
		margin-top: 18%;
		margin-left: -2.5%;
		margin-bottom: -4%;
	}

	.iuser{
		color: white;
	}