.loginBoxUserData
{
    margin-top: 10%;
    width: 90%;
	height: 490px;
	padding: 2% 4%;
	box-sizing: border-box;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .5);
    line-height: 1.5rem;
    padding: 10px 20px;
    color: white;
    border-bottom: 1px solid #e0e0e0;

}

.scrolleable{
    overflow-y: scroll;
    height: 400px;
}


.tbbodyUserData {
    display:block;
    height:400px;
    overflow:auto;
    }
    thead, .tbbodyUserData tr {
    display:table;
    width:100%;
    table-layout:fixed;
    }
    thead {
    width: calc( 100% - 1em )
    }
    table {
    width:100%;
    }