.loginBoxUserData
{
    margin-top: 2%;
    width: 100%;
    height: 410px;
	box-sizing: border-box;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    color: gray;
    border-bottom: 1px solid #e0e0e0;
}

.scrolleable{
    overflow-y: scroll;
    height: 419px;;
}


.tbbodyUserData {
    display:block;
    height:100%;
    overflow:auto;
    font-size: 12px;
    height: 330px;
    display: inline-block;
    width: 100%;
    overflow: auto;
    }
    thead, .tbbodyUserData tr {
    display:table;
    width:100%;
    table-layout:fixed;
    }
    thead {
    width: calc( 100% - 1em )
    }
    table {
    width:100%;
    display:block;
    }

    .thuser{
        margin-right: -10%;
    }


 
    