.react-datepicker {
    font-family: Roboto, sans-serif !important;
    font-size: 0.8rem;
    background-color: #fff;
    border: none !important;
    color: #000;
    display: inline-block;
    border-radius:0 !important;
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    -ms-border-radius:0 !important;
    -o-border-radius:0 !important;
    width: 100% !important;
    user-select: none;
}

.react-datepicker__month-container {
    width: 100% !important;
}

.react-datepicker__header {
    text-align: center;
    background-color: #e0e0e0   !important;
    border: none !important;
    border-radius: 0 !important;
    padding-top: 8px;
    position: relative;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: #00c853 !important;
    color: #fff;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}