/*Mobile Devices, s*/

@media only screen and (max-width: 600px) {}

/*Tablet Devices, m*/

@media only screen and (min-width: 601px) and (max-width: 992px) {}

/*Desktop Devices, l*/

@media only screen and (min-width: 993px) {}

/*Desktop Devices, xl*/

@media only screen and (min-width: 1200px) {}

.bg-img {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
		rgba(0, 0, 0, 0.55) url('https://source.unsplash.com/collection/190727/900x550');
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: none;
}

.card {
    z-index: 2;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.card:hover {
    animation: scale-up .5s forwards;
    -webkit-animation: scale-up .5s forwards;
}

.card-header {
    padding: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    margin: 1px;
}

.card-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #DDDDDD;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.card-footer {
    padding-bottom: 12px;
    padding-top: 8px;
}

@keyframes scale-up {
    to {
        transform: scale(1.05, 1.05);
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
    }
}