.space{
  margin: 20px;
}
.hdr{
  padding-bottom: 20px;
}
.icn-btn {
    text-align: center;
    cursor: pointer;
    font-size:16px;
    padding:5px 10px;
    outline: none;
    color: white;
    background-color: #00c853;
    border: none;
    border-radius:5px;
    box-shadow: 0 6px #43a047;
    margin-bottom: 15px;
    }
  
    .icn-btn:hover{
      background-color: #2ecc71;
    }
  
    .icn-btn:active {
      background-color: #2ecc71;
      box-shadow: 0 5px #95a5a6;
      transform: translateY(4px);
    }
  
  .btns {
    text-align: center;
    cursor: pointer;
    font-size:16px;
    padding:5px 30px;
    outline: none;
    color: white;
    background-color: #00c853;
    border: none;
    border-radius:5px;
    box-shadow: 0 6px #43a047;
    }
    .btns1 {
    text-align: center;
    cursor: pointer;
    font-size:16px;
    padding:5px 30px;
    outline: none;
    color: white;
    background-color: #00c853;
    border: none;
    border-radius:5px;
    box-shadow: 0 6px #922626;
    }
  
    .btns:hover{
      background-color: #2ecc71;
    }
    
    .btns:active {
      background-color: #2ecc71;
      box-shadow: 0 5px #95a5a6;
      transform: translateY(4px);
    }
    
  
    .cardd {
      width: 100%;
      height: fixed;
      padding-bottom: 100px;
      padding-top: 10px;
      background-color: #ffffff;
      border-radius: 10px;
    }
    .supporting_text {
      margin-bottom: 20px;
    }
  
  
  /*Mobile Devices, s*/
  @media only screen and (max-width: 600px){
      .cardd {
          width: 100%;
          height: fixed;
          padding-bottom: 10px;
          background-color: #ffffff;
          border-radius: 10px;
          border: 2.5px solid #eceff1;
          margin-bottom: 20px;
        }
      .crdImg{
        width: 100%;
        height: 150px;
        object-fit: cover;
        margin-top: -15px;
      }
  
      h5{
        font-size: 18px;
    }
      .icn-btn {
        text-align: center;
        cursor: pointer;
        font-size:16px;
        padding:5px 20px;
        outline: none;
        color: white;
        background-color: #00c853;
        border: none;
        border-radius:5px;
        box-shadow: 0 6px #43a047;
        }
        .supporting_text {
          padding-top: 8px;
          margin-bottom: -25px;
        }
    }
  
   /*Tablet Devices, m*/
  @media only screen and (min-width: 601px) and (max-width: 992px){
        .cardd {
          width: 100%;
          height: fixed;
          padding-bottom: 0px;
          background-color: #ffffff;
          border-radius: 10px;
          border: 2.5px solid #eceff1;
          margin-bottom: 20px;
  
        }
  
  
        h5{
          font-size: 10px;
      }
  
        .btns {
      color: #757575;
      height: 36px;
      margin: 0;
      background-color: #ffffff;
      border: none;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 2px;
      
    }
  
    .crdImg{
      width: 100%;
      height: 100px;
      object-fit: cover;
      margin-top: -15px;
    }
    .supporting_text {
      padding-top: 8px;
      margin-bottom: -15px;
    }
    }
  
  /*Desktop Devices, l*/
  @media only screen and (min-width: 993px){
      .cardd {
        width: 100%;
        height: fixed;
          padding-bottom: 10px;
          background-color: #ffffff;
          border-radius: 10px;
          margin-bottom: 20px;
          border: 2.5px solid #eceff1;
  
        }
  
        .btn:hover {
          background-color: #00af49 ;
        }
  
        .crdImg{
          width: 100%;
          height: 200px;
          object-fit: cover;
          margin-top: -15px;
        }

        h5{
          font-size: 16px;
        }
        
    }
  
  /*Desktop Devices, xl*/
  @media only screen and (min-width: 1200px){
      .cardd {
        width: 100%;
        height: fixed;
          padding: 0px;
          background-color: #ffffff;
          border-radius: 10px;
          margin-bottom: 20px;
          border: 2.5px solid #eceff1;
  
        }
  
        .crdImg{
          width: 100%;
          height: 200px;
          object-fit: cover;
          margin-top: -15px;
        }
  
        .supporting_text {
          padding-top: 8px;
          padding-bottom: 1px;
        }
      
    }