.ColNav
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 1%;
}

.liNav {
    float: left;
}

.liNav .aNav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liNav .aNav:hover {
    background-color: #111;
}

.row
{
    margin-bottom: 0%;
}

