@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.nav-color {
    background: linear-gradient(to left, #00c853, #0097a7);
}

.no-marg-b {
    margin-bottom: 0px;
}

.half-marg-b {
    margin-bottom: 10px;
}

.hue-r240 {
    filter: hue-rotate(240deg);
}

.hue-r100 {
    filter: hue-rotate(100deg);
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid #00c853;
    border-bottom: 2px solid #00c853;
}

label {
    color: #222222;
}
.mt-1 {
    margin-top: 10px;
}


.cntr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: coral;
    border: 5px solid coral;
    border-radius:2px;
    padding: 50px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}

.cntr>h1{
    font-family: 'Fredoka One', sans-serif;
}