@import url('https://fonts.googleapis.com/css?family=Patua+One');

.b-green{
    background: rgb(131, 170, 24);
}
.navbar-brand{
    padding-left: 5%;
    font-family: 'Patua One', cursive;
}

.responsive-img {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
  
  .nav-color{
    background:  linear-gradient(to left,#00c853,#0097a7);
  }