.order-waiter{
    min-height: 0px;
	max-height: 300px;
	overflow-y: scroll;
}

.scrl{
    width: 100%;
    overflow-x: auto;
}

.scrl::-webkit-scrollbar { 
    display: none; 
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    height: 150px;
}

.badge-waiter{
    /* color: white; */
    /* font-size: 2px; */
    position: sticky;
    /* top: 0px;
    right: 0px; */
    /* padding: 0px 0px; */
    border-radius: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-shadow:
    1px 1px 0 #333,
    2px 2px 0 #333,
    3px 3px 0 #333,
    4px 4px 0 #333,
    5px 5px 0 #333;
}