.b-g{
    width: 80%;
    border: 5px solid white;
    border-radius: 8px;
}

.b-g:hover{
    background-color: aqua;
}

.btn-wide{
    width: 100%;
}

.scrolleable{
    height: 500px;
    overflow-y: scroll;
}

.scrl{
    width: 100%;
    overflow-x: auto;
}

.scrl::-webkit-scrollbar { 
    display: none; 
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    height: 150px;
}