.b-g{
    width: 80%;
    border: 5px solid white;
    border-radius: 8px;
}

.b-g:hover{
    background-color: aqua;
}

.btn-wide{
    width: 100%;
}

.scrolleable{
    height: 500px;
    overflow-y: scroll;
}