.hedr{
    line-height: 180%;
    margin: 0;
}

.chef-badge{
    user-select: none;
    min-width: 10px !important;
    width: 30px;
    height: 30px !important;
    line-height: 2 !important;
    border-radius: 100px;
    box-sizing: border-box;
    position: relative;
    left: -50px;
    top: -10px;
}

.ch-btn>img{
    margin-bottom: -20px;
}

.m-top20{
    margin-top:20px;
}

.container{
   width: 90%; 
}

.ch-btn{
    height: 90%;
}

.scrollExits{
    min-height: 50px;
    height: 70vh;
    overflow-y: scroll;
}