.cash-wrapper {
    padding-top: 20px;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.calc-display {
    background-color: #00000036;
    border-radius: 10px;
}

.order-cashier {
    min-height: 0px;
    max-height: 300px;
    overflow-y: scroll;
}

.bill_img {
    height: 80px !important;
    border-radius: 2px;
    width: 180px;
    object-fit: cover;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 2px 2px 0 #00000024, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #00000033;
}

.bill_img:active {
    animation: dollar-2 .2s forwards;
    -webkit-animation: dollar-2 .2s forwards;
}

@keyframes dollar-2 {
    to {
        transform: translateY(4px);
        -webkit-transform: translateY(4px);
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
        box-shadow: 0 1px 1px 0 #00000024, 0 1.5px .5px -1px #0000001f, 0 .5px 2.5px 0 #00000033;
    }

}
.bg-img {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
		rgba(0, 0, 0, 0.55) url('https://source.unsplash.com/collection/190727/900x550');
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: none;
}

.order-cashier{
  min-height: 0px;
max-height: 300px;
overflow-y: scroll;}