.cash-wrapper{
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
}

.calc-display{
  background-color: #00000036;
  border-radius: 10px;

}

.order-cashier{
  min-height: 0px;
max-height: 300px;
overflow-y: scroll;
}