

.InventoryRegister{
	margin-top: 6%;
	margin-left: 1%;
	width: 100%;
	height:430px;
	padding: 20px 40px;
	box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.scrolleableinventory{
    overflow-y: scroll;
	height: 350px;
}

.stylefontColapsibleInventory{
    font-size: 15px;
    font-family: 'Combo', cursive;
    font-weight: 100;
    line-height: 12px;
    margin: 0;
    }

	.buttonedit
	{
		width: 80px;
		height: 50px;
	}

	.headerInventory{
		font-family: 'Combo', cursive;
	}